name: Update Packages

on:
  schedule:
    # run every friday
    - cron: "0 0 * * 5"
  workflow_dispatch:

jobs:
  packages:
    name: Update packages
    runs-on: ubuntu-latest
    environment: update

    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/create-github-app-token@v2
        id: generate-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: actions/checkout@v5
        # with:
        #   token: ${{ steps.generate-token.outputs.token }}

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Get GitHub App User ID
        id: get-user-id
        run: echo "user-id=$(gh api "/users/${{ steps.generate-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
      - name: Setup Git User
        run: |
          # git config --global user.name 'github-actions[bot]'
          # git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git config --global user.name '${{ steps.generate-token.outputs.app-slug }}[bot]'
          git config --global user.email '${{ steps.get-user-id.outputs.user-id }}+${{ steps.generate-token.outputs.app-slug }}[bot]@users.noreply.github.com>'

      - name: Update Packages
        run: |
          nix run .#update-packages -- --skip-prompt --commit

      - name: Get Pull Request Body
        id: pull-requests-body
        run: |
          BODY_PATH="$(mktemp)"
          echo "body-path=$BODY_PATH" >> "$GITHUB_OUTPUT"
          git log origin/main..HEAD --no-merges --pretty=format:"- %s" >> "$BODY_PATH"

      - name: Create Pull Request
        id: pull-request
        uses: peter-evans/create-pull-request@v8
        with:
          # author: "github-actions[bot] <github-actions[bot]@users.noreply.github.com>"
          author: "${{ steps.generate-token.outputs.app-slug }}[bot] <${{ steps.get-user-id.outputs.user-id }}+${{ steps.generate-token.outputs.app-slug }}[bot]@users.noreply.github.com>"
          body-path: "${{ steps.pull-requests-body.outputs.body-path }}"
          branch: "update-packages"
          delete-branch: true
          sign-commits: true
          title: "chore: update packages"
          token: ${{ steps.generate-token.outputs.token }}
          labels: |
            automated
            dependencies

      - name: Enable Automerge
        if: ${{ steps.pull-request.outputs.pull-request-number }}
        run: |
          gh pr merge --rebase --auto "$PR_ID"
        env:
          PR_ID: ${{ steps.pull-request.outputs.pull-request-number }}
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
